<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Manager</title>
    <link rel="stylesheet" href="/common.css">
</head>
    <body>
        <div id="logo">
            <img src="/logo.png">
        </div>
        <div id="menu">
            <a href="/main" class="button">Main page</a>
        </div>
        <div id="content">
            <div class="book" th:each="book : ${books}">
                <div th:text="${book.title}"/>
                <div th:text="${book.author}"/>
                <div th:text="${book.isbn}"/>
                <div th:text="${'Available: ' + book.available}"/>
                <div th:data="${'Borrow date: ' + book.dateOfBorrow}"/>
                <div th:text="${'Return date: ' + book.expectedDateOfReturn}"/>
            </div>
        </div>
    </body>
</html>