<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{templates.html :: logo}"></div>
<div th:replace="~{templates.html :: menu}"></div>
<div id="content">
    <form method="post">
        <input type="text" , placeholder="login" th:field="*{userModel.login}">
        <input type="password" , placeholder="password" th:field="*{userModel.password}">
        <input type="submit" , value="login">
    </form>
</div>
</body>
</html>