<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<p>Registration of user</p>
<form method="post">
    <input type="text", placeholder="name" th:field="*{dataModel.name}">
    <input type="text", placeholder="surname" th:field="*{dataModel.surname}">
    <input type="text", placeholder="age" th:field="*{dataModel.age}">
    <input type="password", placeholder="password" th:field="*{dataModel.password}">
    <input type="submit", placeholder="register">
</form>

</body>
</html>